<h1>Home</h1>

<section class='content-index'>

  <div class="card-full">
    <% if current_user %>
    <div class="card-full__image" >
      <%= image_tag (current_user.avatar.attached? ? current_user.avatar : 'user.png'), class: :image %>
    </div>
    <div class="card-full__body">
      <%= form_with model: @tweet, method: :post, local: true, html: {class: :form_inside} do |f| %>
        <%= f.text_area :body, class: :text_area, placeholder: :Remember_to_think_before_write %>
        <div class="card-full__button">
        <%# <%= f.submit "Tweet",{class: :card_button} %> 
        <%= f.submit "Tweet" %> 
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <% @tweets.each do |tweet| %>
  
    <div class="card-full">

      <div class='card-full__image'>
      <%= link_to user_path(tweet.user) do %>
        <%= image_tag (tweet.user.avatar.attached? ? tweet.user.avatar : 'user.png') %>     
      <% end %>
      </div>


      <div class='card-full__body'>
        <div >          
          <%= link_to tweet.user.name, tweet_path(tweet), class: "card-name" %>          
          <span >@<%= tweet.user.username %></span>
          <small class='card-release'>@<%= tweet.created_at.day.ordinalize %></small>
        </div>
          <p ><%= tweet.body %></p>
        
        <div  class="card-icons" >
          <div class="card-icons-left">
               <%= link_to tweet_path(tweet) do %>
                <%= image_tag 'reply.png', class: :ico %><p><span><%= tweet.replies.count %></span>
              <% end %>
              <%= link_to (tweet) do %>
                <%= image_tag 'unlike.png', class: :ico %>
              <% end %>
              
          </div>

          <% if current_user && current_user.id == tweet.user_id %>
          <div class="card-icons-right">
            <%= link_to edit_tweet_path(tweet) do %>
              <%= image_tag 'edit.png', class: :ico %>
            <% end %>
            <%= link_to tweet_path(tweet), method: :delete, data: { confirm: 'Are you sure you want to delete this tweet ?' } do %>
              <%= image_tag 'delete.png', class: :ico %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</section>