  <div class="title">
    <h1>Tweet Detail</h1>
  </div>

  <div class="primary-card">
    <div class="card-full">
      <div class='card-full__image'>
        <%= image_tag (@tweet.user.avatar.attached? ? @tweet.user.avatar : 'user.png') %>
      </div>
      <div class='card-full__body'>
        <div>          
          <%= link_to @tweet.user.name, tweet_path(@tweet), class: "card-name" %>          
          <span>@<%= @tweet.user.username %></span>
          <small class='card-release'><%= time_ago_in_words(@tweet.created_at) %></small>
        </div>
        <p ><%= @tweet.body %></p>
        <div class="card-icons" >
          <div class="card-icons-left">
            <%= link_to tweet_path(@tweet) do %>
              <%= image_tag 'reply.png', class: :ico %>
              <span><%= @tweet.replies.count %></span>
            <% end %>
            <%= link_to (@tweet) do %>
              <%= image_tag 'unlike.png', class: :ico %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if current_user %>
  <%= form_with(url: tweet_reply_path(@tweet), method: :post, local: true, class: :form_inside) do |f| %>
  <% if @tweet.errors.any? %>
  <div>
    <ul>
      <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="card-full__image">
    <%= image_tag (current_user.avatar.attached? ? current_user.avatar : 'user.png') %>
  </div>
  <div class="card-full__body">
    <%= f.text_field :body, placeholder: "Remember to think before write", class: 'form-input' %>
    <%= f.submit 'Tweet', class: 'primary-button form-button' %>
  </div>
<% end %>
  <% end %>

  
  <% @tweet.replies.each do |reply| %>
    <%= render partial: "tweet_card", locals: { tweet: reply } %>
  <% end %>
