  <div class="title">
    <h1>Tweet Detail</h1>
  </div>
  <div class="primary-card">
    <div class="card-full">
      <div class='card-full__image'>
        <%= image_tag (@tweet.user.avatar.attached? ? @tweet.user.avatar : 'user.png') %>
      </div>
      <div class='card-full__body'>
        <div>          
          <%= link_to @tweet.user.name, tweet_path(@tweet), class: "card-name" %>          
          <span>@<%= @tweet.user.username %></span>
          <small class='card-release'><%= time_ago_in_words(@tweet.created_at) %></small>
        </div>
        <p ><%= @tweet.body %></p>
        <div class="card-icons" >
          <div class="card-icons-left">
            <%= link_to tweet_path(@tweet) do %>
              <%= image_tag 'reply.png', class: :ico %>
              <span><%= @tweet.replies.count %></span>
            <% end %>
            <%= link_to (@tweet) do %>
              <%= image_tag 'unlike.png', class: :ico %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'form' %>
  
  <% @tweet.replies.each do |reply| %>
    <%= render partial: "tweet_card", locals: { tweet: reply } %>
  <% end %>
