<div class="title">
  <h1>Profile</h1>
</div>

<div class="card-profile">
  <div class="card-full__image" >
    <%= image_tag (@user.avatar.attached? ? @user.avatar : 'user.png'), class: :image %>
  </div>
  <span><%= @user.name %></span>
  <span>@<%= @user.username %></span>
  <small class='card-release'>Joined on <%= @user.created_at.year %></small>

  <% if current_user && current_user.id == @user.id%>
    <%= link_to "Edit Profile" ,edit_user_registration_path(current_user) %>
  <% end %>
</div>

  <% @user.tweets.each do |tweet| %>
    <%= render partial: "tweets/tweet_card", locals: { tweet: tweet } %>
  <% end %>
</section>
