<!DOCTYPE html>
<html>
  <head>
    <title>TweetableTeam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="body">

    <header class='header-page'>
      <%# <h2>Logo</h2> %>
      <div class="logo" >
        <%= image_tag("Tweetable.png")%>
      </div>

      <div   class="options">
        <h2>Home</h2>
        <h2>Profile</h2>
        <%= link_to root_path do %>
        <%= image_tag('logo.png')%>
      <% end %>
      </div>

      

      <div class='header-page__actions'>
        <% if current_user %>
          <%= link_to current_user.username, edit_user_registration_path(current_user )%>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
      </div>
    </header>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
