<!DOCTYPE html>
<html>
  <head>
    <title>TweetableTeam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="app">
    <% if notice || alert %>
      <div class="pop_ups">
        <p class="notice"><%= notice %></p>
        <% if alert%>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>
    <div class="container">
      <%= render 'layouts/header'%>
      <%= yield %>
    </div>
  </body>
</html>
